language: node_js
#build_image: shippable/minv2

node_js:
  - "0.10"
  - "0.11"
  - "0.12"

env:
 global:
   - secure: c6QUMwbyF6luGpWrcAiCG6y3LQJYA80SAzIjLQidNGsIv7xceuqOG7kbXDod+3CO4lVoFYgCCHkFHEfGvT8Bfo50OOuadbM9T7qWyGdZKTXVsx9Iw+eRmorMVPJQGMlH+NVp+v0DkkM6DLQiR1vU2Oj3floXiKTYT58BJO+KXEsbWFgmIUwU9Sfi+KB2rncMeaPngeEg7xpe4V6j/iENcWsWdwbYCL/iqSBafwJJ4e1SALopnWLMnPhhqvkAfefVoO6JDH+9CwVVefCXXxZQ4gjWoVgsK9iHHi/c/vfqNb+3QcYOJmzK8zTXT8y7FvvTCkSwWgAzgeHnCF0tlaKVpw==
 matrix:
   - Foo=bar
   - Bar=foo

 
matrix:
  exclude:
    - node_js: "0.12"

  allow_failures:
    - node_js: "0.11"
      env:
       - Foo=bar 
    - node_js: "0.11"
      env:
       - Bar=foo
      
    
    
  
script: "npm run-script test-travis"

after_script:
  - ./node_modules/.bin/istanbul cover ./node_modules/.bin/_mocha -- --ui=bdd --reporter=xunit-file
  - ./node_modules/.bin/istanbul report cobertura --dir shippable/codecoverage/
  - echo $key2
  - cp README.md ./shippable
  
notifications:
     email:
         recipients:
             - vidya@shippable.com
             - buildsampletest@gmail.com
            # - vidyac.raghav@gmail.com
         on_success: always
         on_failure: always

archive: true

#cache: true


